.sidebar {
    background-color: #1db954;
    color: white;
    height: 100vh;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #1a9d45;
}
.main-content {
    padding: 20px;
}
.footer {
    background-color: #121212;
    color: white;
    padding: 10px;
}
.btn{
    margin: auto 5;
}