<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
  <div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2 id="TitleText">Music Player</h2>
      <div class="d-grid gap-2">
        <a id="NaviButton" class="btn btn-primary" href="{{ url_for('about') }}" role="button">Test Link</a>
        <a id="NaviButton" class="btn btn-primary" href="#" role="button">Link</a>
        <a id="NaviButton" class="btn btn-primary" href="#" role="button">Link</a>
      </div>

    </div>

    <!-- Main Content -->
    <div class="main-content col">
      <h1>Welcome to music player!</h1>
      <div class="row">
        <div class="col-md-4">
          <div id="ContentCard" class="card">
            <img src="https://placehold.co/150" class="card-img-top" alt="Album 1">
            <div class="card-body">
              <h5 class="card-title">Album 1</h5>
              <p class="card-text">Artist Name</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="ContentCard"  class="card">
            <img src="https://placehold.co/150" class="card-img-top" alt="Album 2">
            <div class="card-body">
              <h5 class="card-title">Album 2</h5>
              <p class="card-text">Artist Name</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="ContentCard" class="card">
            <img src="https://placehold.co/150" class="card-img-top" alt="Album 3">
            <div class="card-body">
              <h5 class="card-title">Album 3</h5>
              <p class="card-text">Artist Name</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
